<!DOCTYPE html>
<html>
<head>
  <title>W2017tsa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|VT323" rel="stylesheet">
   <style>
   body {
       background: url(<%= randomized_background_image %>);
     }
   </style>
</head>
<body>


	<div class="col-md-1">
		</div>
	<div class="col-md-10">
	<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><%= link_to "Augmented Reality", root_path, :class => "navbar-brand toptext"%>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav nav navbar-left">
        				<li><%= link_to "Our Chapter", "http://coralparktsa.herokuapp.com", class: :toptext%>
        				</li>
                        <li><%= link_to "Our School", "http://www.ramtech59.com/", class: :toptext%>
                        </li>
                    </ul>
            <ul class="nav navbar-nav nav navbar-right">
                <li><%= link_to "Home", root_path, class: :toptext%>
                </li>
				<li><%= link_to "Uses", uses_index_path, class: :toptext%>
				</li>
                <li><%= link_to "Benefits", benefits_index_path, class: :toptext%>
                </li>
                <li><%= link_to "Technologies", technologies_index_path, class: :toptext%>
                </li>
                <li><%= link_to "Concerns", concerns_index_path, class: :toptext%>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<%= yield %>

</body>
</html>


